@{
    bool modoDev = true;
}

<h2>@Model.TITULO_PAGINA</h2>

@if(modoDev)
{
    <div class="row">
        <a href="@Url.Action("Edit", "Cliente")" class="btn btn-primary btn-block mt-3">Conta</a>
    </div>
    <div class="row">
        <a href="@Url.Action("SolicitacaoCategoria", "Cliente")" class="btn btn-primary btn-block mt-3">Solicitar Serviço</a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-secondary btn-block mt-3">Pedidos</a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-secondary btn-block mt-3">Histórico</a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-secondary btn-block mt-3">Gerenciar Solicitações</a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-secondary btn-block mt-3">Favoritos</a>
    </div>
    <div class="row">
        <a href="@Url.Action("Logout", "Cliente")" class="btn btn-primary btn-block mt-3">Logout</a>
    </div>
}
else
{
    <h4>Aqui teremos a página com o painel de controle do cliente</h4>
    <div class="row">
        <img src="~/img/rascunhos/perfil_cliente.jpeg" width="100px" height="550px" />
    </div>
}