
@{
    ViewData["Title"] = "Painel do Cliente";
}

<h1>@ViewData["Title"]</h1>
<h4>Aqui teremos a página com o painel de controle do cliente</h4>

<div class="row">
    <img src="~/img/rascunhos/perfil_cliente.jpeg" width="100px" height="550px" />
</div>