@model SignUpViewModel

@{
    ViewData["Title"] = "Inscrição";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form asp-action="SignUp">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Password2" class="control-label"></label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TipoDeUsuario" class="control-label"></label>
                <input asp-for="TipoDeUsuario" class="form-control" />
                <span asp-validation-for="TipoDeUsuario" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>