
@{
    ViewData["Title"] = "Index";
}

      <h2>Informações de uso dos Serviços Domicialiares</h2>
      <hr>

      <p>
        Em construção.
      </p>

      <p>
        Duis reprehenderit veniam incididunt aliquip cillum consequat velit incididunt aliqua laboris eu nulla sit ad.
        Esse aliquip commodo aliqua labore labore ea cupidatat culpa ut nostrud ut.
        Do excepteur deserunt esse ex mollit ad. Occaecat esse ad elit ut consequat cupidatat voluptate aliquip
        adipisicing reprehenderit mollit cillum aute mollit. Nostrud culpa in consequat aliquip reprehenderit eu quis
        nulla id.
      </p>

      <p>
        Pariatur duis occaecat proident elit irure quis aliquip excepteur laborum esse cupidatat elit. Mollit velit eu
        commodo cillum commodo nostrud Lorem sit velit nulla ipsum occaecat nisi proident. Eiusmod ut elit amet
        exercitation eu.
        Incididunt ipsum velit qui aliquip occaecat cupidatat ullamco ea laboris ea ex esse fugiat.
      </p>

      <p>
        Cillum cillum reprehenderit cupidatat magna incididunt sint voluptate nisi. Culpa do mollit et aute eiusmod
        consectetur quis mollit enim id minim aliqua.
        Commodo reprehenderit consequat cillum cillum tempor sit magna adipisicing ullamco ad culpa adipisicing irure
        excepteur.
      </p>

      <p>
        Duis reprehenderit veniam incididunt aliquip cillum consequat velit incididunt aliqua laboris eu nulla sit ad.
        Esse aliquip commodo aliqua labore labore ea cupidatat culpa ut nostrud ut.
        Do excepteur deserunt esse ex mollit ad. Occaecat esse ad elit ut consequat cupidatat voluptate aliquip
        adipisicing reprehenderit mollit cillum aute mollit. Nostrud culpa in consequat aliquip reprehenderit eu quis
        nulla id.
      </p>

      <p>
        Pariatur duis occaecat proident elit irure quis aliquip excepteur laborum esse cupidatat elit. Mollit velit eu
        commodo cillum commodo nostrud Lorem sit velit nulla ipsum occaecat nisi proident. Eiusmod ut elit amet
        exercitation eu.
        Incididunt ipsum velit qui aliquip occaecat cupidatat ullamco ea laboris ea ex esse fugiat.
      </p>
      <p>
        Cillum cillum reprehenderit cupidatat magna incididunt sint voluptate nisi. Culpa do mollit et aute eiusmod
        consectetur quis mollit enim id minim aliqua.
        Commodo reprehenderit consequat cillum cillum tempor sit magna adipisicing ullamco ad culpa adipisicing irure
        excepteur.
      </p>

      <p>
        Duis reprehenderit veniam incididunt aliquip cillum consequat velit incididunt aliqua laboris eu nulla sit ad.
        Esse aliquip commodo aliqua labore labore ea cupidatat culpa ut nostrud ut.
        Do excepteur deserunt esse ex mollit ad. Occaecat esse ad elit ut consequat cupidatat voluptate aliquip
        adipisicing reprehenderit mollit cillum aute mollit. Nostrud culpa in consequat aliquip reprehenderit eu quis
        nulla id.
      </p>

      <p>
        Pariatur duis occaecat proident elit irure quis aliquip excepteur laborum esse cupidatat elit. Mollit velit eu
        commodo cillum commodo nostrud Lorem sit velit nulla ipsum occaecat nisi proident. Eiusmod ut elit amet
        exercitation eu.
        Incididunt ipsum velit qui aliquip occaecat cupidatat ullamco ea laboris ea ex esse fugiat.
      </p>

