@{
    ViewData["Title"] = "Cadastro de Colaborador";
}

<h1>Informe seus dados, por favor:</h1>
<hr>
<form asp-controller="Cadastro" asp-action="SalvarDadosColaborador" method="post">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset class="row">
                <legend>Dados Pessoais</legend>

                <div class="mb-3">
                    <label for="txtNome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="txtNome">
                </div>

                <div class="mb-3 col-md-6 col-xl-4">
                    <label for="txtCPF" CPF class="form-label">CPF</label>
                    <input type="text" class="form-control" id="txtCPF">
                    <span class="form-text">(Somente números)</span>
                </div>

                <div class="mb-3 col-md-6 col-xl-4">
                    <label for="DataNascimento" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="txtDataNascimento">
                </div>

            </fieldset>

            <fieldset>
                <legend>Contatos</legend>

                <div class="mb-3 col-md-8">
                    <label for="txtEmail" class="form-label">E-Mail</label>
                    <input type="email" class="form-control" id="txtEMail">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="txtTelefone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="txtTelefone" placeholder="11 955776600">

                    <span class="form-text">(DDD e somente números)</span>
                </div>

            </fieldset>

        </div>

        <div class="col-sm-12 col-md-6">
            <fieldset class="row">
                <legend>Endereço</legend>

                <div class="mb-3 col-m-6 col-lg-4">
                    <label for="txtCEP" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="txtCEP">
                    <span class="form-text">(Somente números)</span>

                    <div class="mb-3 col-md-4">
                        <label for="txtNumero" class="form-label">Número</label>
                        <input type="text" class="form-control" id="txtNumero">
                    </div>

                    <div class="mb-3">
                        <label for="txtComplemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="txtComplemento">
                    </div>

                    <div class="mb-3">
                        <label for="txtReferencia" class="form-label">Referência</label>
                        <input type="text" class="form-control" id="txtReferencia">
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Munícipio para atendimento</legend>

                <div class="mb-3 col-md-6">
                    <label for="txtSenha" class="form-label">Primeiro Munícipo</label>
                    <input type="text" class="form-control" id="txtSenha">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="txtConfSenha" class="form-label">Segundo Munícpio</label>
                    <input type="text" class="form-control" id="txtConfSenha">
                </div>
            </fieldset>

        </div>

    </div>

    <hr>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" value="" id="Autoriza">
        <label for="Autoriza" class="form-check-label">Autorizo o envio das minhas informações (Dados serão verificados, após será permitida a participação.)</label>
    </div>

    <div class="mb-3">
        <a class="btn btn-light btn-outline-danger" href="@Url.Action("Index", "Colaborador")">Cancelar</a>
        <input type="button" value="Enviar meu cadastro" class="btn btn-danger">
    </div>

</form>

